::selection {
    background: #bdbfbe;
}

a:focus, a:hover {
    /*color: #505050;*/
    text-decoration: none;
}

a>.project-block>h1, a>.project-block>h2, a>.project-block>h3, a>.project-block>h4, a>.project-block>h5, a>.project-block>h6, a>.project-block>p {
    cursor: pointer;
    color: #505050
}

a>.project-block>h1, a>.project-block>h2, a>.project-block>h3, a>.project-block>h4, a>.project-block>h5, a>.project-block>h6, a>.project-block>p:hover {
    cursor: pointer;
    color: #505050
}

body {
    padding-top: 50px;
}

.open>.dropdown-menu {
    display: block;
    margin: 0 5px;
}

.svg {
    background: url(/resource/img/background.svg) fixed no-repeat;
}

button {
    transition: all .30s ease;
    -webkit-transition: all .30s ease;
    color: #555555;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: -3px 3px 1px rgba(0,0,0,.075);
}

.btn-default {
    color: #555555;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #a7a7a7;
    border-color: #adadad;
}

.container {
    padding: 30px 0px 30px 0px;
}

.navbar-default .navbar-brand {
    transition: all .15s ease;
    -webkit-transition: all .15s ease;
    color: #555555;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
}



.navbar-default {
    background: -moz-linear-gradient(top, #8ed7ff 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed7ff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #8ed7ff 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #8ed7ff 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #8ed7ff 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #8ed7ff 0%,#ffffff 100%);
    border: hidden;
}

.navbar {
    border-radius: 0;
}


.jumbotron {
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-color: rgba(0,0,0,0);
    height: 300px;
}

.cursor-fadeinout {
    animation: cursor-fadeinout 1s infinite;
    -webkit-animation: cursor-fadeinout 1s infinite;
}

.typing {
    color: #555555;
    text-align: center;
}

.free-blog {
    position: fixed;
    padding: 20px 16px 22px 16px;
    border-radius: 4px;
    border: 1px solid #adadad;
    background-color: white;
    box-shadow: -4px 4px 2px rgba(0,0,0,.075);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #00000000;
}

.dropdown-menu>li>a {
    padding: 20px;
}

.project-block {
    width: 240px;
    height: 140px;
    margin: 12px;
    background-color: #ababab;
    display: inline-grid;
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(0px);
    box-shadow: 0 0 0;
    transition: -webkit-transform .218s ease, -webkit-box-shadow .218s ease;
}

.project-block:hover  {
    box-shadow: 0 7px 21px rgb(56,56,56);
    transform: translateY(-7px);
    transition: -webkit-transform .218s ease, -webkit-box-shadow .218s ease;
}

@keyframes cursor-fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 0.8; }
}